body {
  font-family: "Montserrat", sans-serif;
  color: $base-color-moredark;
}
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
h1 {
  color: #fff;
}
h2 {
  font-size: 38px;
  font-weight: 700;
}
