/*!
 utility 
 */
.box-shadow {
  box-shadow: 0px 16px 32px 0px rgba(42, 38, 75, 0.1);
}

.background-accent-color-light {
  background-color: $accent-color-light;
}
.background-base-color-moredark {
  background-color: $base-color-moredark;
  color: #fff;
}
.background-accent-color-dark {
  background-color: $accent-color-dark;
}
.divider-horizont {
  position: relative;
  margin-left: 40px;

  &:before {
    position: absolute;
    content: "";
    width: 32px;
    height: 3px;
    background-color: $accent-color-dark;
    top: 50%;
    left: -40px;
  }
}
.divider-vertical {
  position: relative;
  margin-left: 10px;
  &:before {
    position: absolute;
    content: "";
    width: 3px;
    top: 0;
    bottom: 0;
    background-color: $accent-color-dark;
    left: -10px;
  }
}
.overlay-container {
  position: relative;
  overflow: hidden;
}
.overlay-skew {
  position: absolute;
  width: 50%;
  left: -20%;
  top: 0;
  bottom: 0;
  background-color: $base-color-dark;
  mix-blend-mode: multiply;
  transform: skew(-0.312rad);
}
