.footer {
  color: #fff;
  padding-top: 40px;
  h3 {
    color: $base-color-light;
    font-size: 18px;
  }
  .uk-card .uk-card-body{

  }
}
@media screen and (max-width: 640px) {
  .uk-nav {
    li {
      a {
        justify-content: center;
      }
    }
  }
}
