.tiles {
  .uk-card {
    border-top: 4px solid $accent-color-dark;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 3px;
  }
}
.uk-card-el-dam {
  background-color: #fff;
  color: #666;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);

  &__first {
    background-color: $base-color-moredark;
    box-shadow: 0 5px 10px $base-color-moredark;
    color: #fff;
  }
  &__two {
    background-color: $base-color;
    box-shadow: 0 5px 10px $base-color;
    color: #fff;
  }
  &__three {
    background-color: $base-color-light;
    box-shadow: 0 5px 10px $base-color-light;
    color: #fff;
  }
  &__for {
    background-color: $base-color-dark;
    box-shadow: 0 5px 10px $base-color-dark;
    color: #fff;
  }
}
@media screen and (min-width: 640px) {
  .tiles {
    margin-top: -100px;
  }
}
